[submodule "examples/suave/contracts/lib/suave-geth"]
	path = examples/suave/contracts/lib/suave-geth
	url = https://github.com/flashbots/suave-geth
[submodule "examples/suave/contracts/lib/forge-std"]
	path = examples/suave/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/suave/contracts/lib/openzeppelin-contracts"]
	path = examples/suave/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
